/* Font Import */
@font-face {
  font-family: "Poppins";
  src: url(fonts/Poppins-Regular.ttf);
}

/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  -webkit-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
}

/* Root Element */
:root {
  --primary-color: #bbcaff;
  --element-color: #7695ff;
  --dark-primary-color: #2b3968;
  --dark-text-color: #000;
  --light-text-color: #fff;
}

body {
  height: 10000px;
  max-width: 100vw;
}

/* Header */
header {
  width: 100%;
  background-color: var(--primary-color);
  padding: 0.5rem 2rem;
  border-bottom: #000 1px solid;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/* Logo */
header .logo img {
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar */
.navbar {
  font-size: 1.5rem;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar ul li a {
  color: black;
}

.navbar ul li .search {
  font-size: 1.5rem;
  width: 12rem;
  outline: none;
  border: none;
  border-bottom: #000 1px solid;
  background-color: var(--primary-color);
}

/* Theme Button */
.toggle {
  position: relative;
  width: 3rem;
  height: 1.5rem;
  background-color: var(--element-color);
  border-radius: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.toggle::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--light-text-color);
  border-radius: 50%;
  top: 50%;
  left: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Section Height */
section {
  max-height: 100vh;
}

/* Banner */
.slider {
  max-width: 100vw;
  max-height: 100vh;
  width: 1000px;
  height: 350px;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-top: 160px;
}

.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}

.slider .list img {
  width: 1000px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.slider .buttons button {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  background-color: var(--element-color);
  opacity: 0.7;
  color: var(--light-text-color);
  border: none;
  font-family: "Poppins";
  font-weight: bold;
}

.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slider .dots li {
  width: 10px;
  height: 10px;
  background-color: var(--light-text-color);
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}

.slider .dots li.active {
  width: 30px;
}

/* Section About */
.about {
  padding: 6rem 4rem 0;
  max-height: 100vw;
}

.about h1 {
  text-align: center;
  font-size: 2em;
  padding-bottom: 2rem;
}

.about-container {
  display: flex;
  justify-content: space-around;
}

.about-container .logo img {
  width: 10rem;
}

.about-container .left-about {
  width: 30rem;
}

.about-container .left-about button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--element-color);
  border: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}

/* Project */
.project {
  padding: 8rem 4rem 0;
  max-height: 100vh;
  max-width: 100vw;
}

.project h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1rem;
}

.project .card-project-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project .content {
  width: 20%;
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.project .content .card {
  width: 22rem;
  flex: 1 1 250px;
  padding: 1.4rem;
  border: 1px solid rgba(15, 23, 42, 0.1);
  border-radius: 0.8rem;
  background-color: var(--primary-color);
}

.project .content .card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project .content .card .card-img {
  height: 12rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  display: grid;
  place-items: center;
}

.project .content .card .card-img img {
  transition: ease-in 0.2s;
}

.project .content .card .card-img:hover img {
  transform: scale(1.5);
}

.project .content .card .card-img img {
  width: 100%;
}

.project .content .card .card-img {
  background-color: #2b3968;
}
